<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Eredivisie 2017/2018</title>
    </head>
    <body>
        <div id="root">
            Loading...
        </div>
        <script src="/bundle.js" charset="utf-8"></script>
    </body>
</html>